/*! = Custom site styles
-------------------------------------------------------------- */
/* General Styles */
body, 
.masthead_clean_title h1.entry-title.masthead_content_title {font-family: 'Heebo', sans-serif !important;}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {
	.wrap {padding: 0 15px;}
}

/* Header */
.site.header_light header {background: #F7F7F7;}
.full_row_box .header_wrapper.wrap {padding: 0 1rem;}

/* Menu */
@media (min-width: 992px) {
	.full_row_box .menu > ul > li a {font-size: 17px;font-weight: 500;}
	.full_row_box .logo_side_right .header_menu_container {height: 61px;}
	.site.header_light header .menu > ul > li a {color: #3f3f3f;height: auto;margin: 0;border-right: 1px solid #e3e3e4;}
	.site.header_light header .menu > ul > li:first-child a {border: none;}
	.normal_menu .menu > ul > li > ul.normal-sub > li:hover {background-color: #e0e2e2;}
	.normal_menu.site.header_light header .menu-dropdown-icon > a {padding-left: 30px !important;}
	.normal_menu.site.header_light header .menu-dropdown-icon > a:after {padding-left: 10px;}
}
@media (max-width: 991px) {
	.bar {box-shadow: none !important;}
	#header-menu-wrapper {background-color: #e0e0e0;}
	.menu > ul > li {background: #e0e0e0;}
	.menu>ul>li:hover a, .menu>ul>li>ul {background: #eee;}
	.menu > ul > li, .menu > ul > li > ul > li {border-top: 1px solid rgba(255, 255, 255, 0.9);}
	.menu > ul > li > ul.normal-sub > li a {font-size: 18px;}
	.hamburger.active .bar {background-color: #6a6a6a}
}
/* Secondary site Menu */
.full_site_hamburger #header-menu-secondary {display: block !important;margin: 0 !important;height: 100%;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.full_site_hamburger ul#main-menu-secondary {display: block !important;}
.full_row_box #header-menu-secondary.menu > ul > li a {color: #b3b3b3;font-size: 18px;}
.nav-divider {background-color: #4d4d4d;height: 1px;margin-top: 17px;margin-bottom: 17px;}

#nav-info ul.social-bar {text-align: right;padding: 0px 20px;font-size: 20px;}
#nav-info li.social-item {color: #fff;}

#nav-search {margin-top: 30px;height: 36px;margin-bottom: 51px;padding-bottom: 2px;border-bottom: 1px solid white;overflow: hidden;border-right: none;}
#nav-search .search-field {border: none;max-width: 300px;}
#nav-search .search-field ::-webkit-input-placeholder { opacity: 1; color: #fff !important;font-size: 18px;font-weight: 400;text-align: right;}
#nav-search .search-field :-moz-placeholder { opacity: 1; color: #fff !important;font-size: 18px;font-weight: 400;text-align: right;}
#nav-search .search-field ::-moz-placeholder { opacity: 1; color: #fff !important;font-size: 18px;font-weight: 400;text-align: right;}
#nav-search .search-field :-ms-input-placeholder { opacity: 1; color: #fff !important;font-size: 18px;font-weight: 400;text-align: right;}

/* Branding */

/* Header Top Panel */
.header_topbar_container_inner.wrap {height: 57px;display: flex;align-items: center;}
#header-info {display: flex;align-items: center;justify-content: space-between;width: 60%;margin-right: auto;}
li.social-item.site_phone {border-right: none;font-size: 19px;font-weight: bold;}
li.social-item.site_phone i {padding: 0 10px 0 0;font-size: 22px;}
#header-info ul.social-bar {position: relative;top: 0;left: 0;order: 1;margin: 0;}
.header_topbar_container.top_panel {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e6e6+0,f7f7f7+100 */
background: rgb(229,230,230); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(229,230,230,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(229,230,230,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(229,230,230,1) 0%,rgba(247,247,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e6e6', endColorstr='#f7f7f7',GradientType=1 ); /* IE6-9 */
}

#menu-panel>li {font-size: 15px;color: #5f5f5f;border-right: 1px solid #dfdfdf;}
@media (max-width: 767px) {
	#panel-nav {display: none;}
}
/* Titles */
h1.entry-title.masthead_content_title:after {content: none;}
.masthead_full_slider h1.entry-title.masthead_content_title {padding-bottom: 0 !important;}


/* Masthead slider */


/* Flexible Content Blocks
-------------------------------------------------------------- */
.flex_content_cols {width: 100%;padding-bottom: 30px;padding-right: 10px;padding-left: 10px;}

.content_one_column h2.section_title {font-size: 40px;padding: 0;border: none;font-weight: 400;}
.flex_content_rows > .container_wrap > .flex_content_cols {position: relative;z-index: 2;}



/* Flex Full content */


/* Flex Button */


/* Flex styled title - clean underlin */


/* Flex styled title - clean underlin */


/* Flex Article Grid */


/* Product / Project page */


/* Client Slider */


/* Flex Image */


/* Grid Masonary link Gallery */


/*Flex Contact Form */


/* Flex QA accordion */


/* Mobile Flexible Content Blocks
-------------------------------------------------------------- */
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {
	.container_wrap_line {display: none !important;}
	.flex_style_title_container.title_clean.title_align_right {padding: 0;}
	.flex_content_cols.col-xs-12 {padding-right: 0;padding-left: 0;}
}
@media only screen and (max-width: 580px) {

}